<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card ">
        <h1>{{ title }}</h1>
        <div class="form-control">
          <input type="text"
                 :placeholder="placeholderString"
                 v-model="inputValue"
                 @keypress.enter="addNote"
          />
        </div>
        <button class="btn" :disabled="!inputValue" @click="addNote">Добавить</button>
        <hr/>
        <ul class="list" v-if="notes.length">
          <li class="list-item" v-for="(note, index) in notes" :key="index">
            <span>{{ index + 1 }}. {{ toUpperCase(note) }}</span>
            <button class="btn danger" @click="removeNote(index)">Удалить</button>
          </li>
          <hr>
          <li><strong>Итого заметок: {{ notes.length }}</strong></li>
          <li><strong>Удвоенное заметок: {{ double }}</strong></li>
        </ul>
        <span v-else>Нет заметок для отображения. Создайте заметку</span>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
